/*
header
*/
.container-fluid{
    border:2px solid #888;
    padding:0;
}

.col-md-12,.col-md-2,.col-md-10{
    padding:0;
}

.head{
    border:1px solid #888888;
    width:100%;
    background-color:#eee;
}

.head img{
    padding: 10px 30px 0 40px;
    float:left;
}
.head p{
    padding-top:10px;
    font-size:20px;
}

.bar{
    margin:0;
    padding:0;
    height:500px;
    border: 1px solid #888;
    background-color: #bbbbbb;
}

.bar li{
    height:40px;
    line-height: 40px;
    list-style-type: none;
    border-bottom: 1px solid #888;
    text-align:center;
}

.bar a{
    font-size:16px;
    text-decoration: none;
    color:#000;
}

.bar a:hover{
    color:#fff;
}

.content{
    border:1px solid #888;
    padding: 10px;
    height:500px;
}



/*
addAttribute
*/
.addAttribute{
    padding:10px 10px 0 10px;
    width: 420px;
}

.addAttribute .button{
    width: 82px;
}

.addAttribute input{
    width: 146px;
}

.addAttribute .goodForm .form-group{
    margin-bottom: 20px;
    width: 400px;
}

.addAttribute .goodForm label{
    width:auto;
}

.addAttribute .row {
    height: 30px;
    width: 500px;
    border-top-width: 40px;
    margin-top: 40px;
}

/*
   page
*/
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}

/*
subAttribute
*/
.subAttribute{
    padding:30px 20px 0 20px;
}

/*
goodsInfo
*/
.goodsInfo{
    padding:30px 20px 0 20px;
}
.goodsInfo input{
    width: 200px;
}
.goodsInfo .reset{
    width: 82px;
}
.goodsInfo .number{
    width: 111px;
}
.goodsInfo .number input{
    width: 46px;
}
.goodsInfo .goodForm .form-group{
    margin-bottom: 20px;
}
.goodsInfo .goodForm label{
    width:auto;
}
.goodsInfo .goodForm .btnBar{
    margin-bottom:30px;
}

/*
addGoods
*/
.addGoods{
    padding:30px 20px 0 20px;
}
.addGoods input{
    width: 146px;
}
.addGoods .reset{
    width: 82px;
}
.addGoods .number{
    width: 111px;
}
.addGoods .number input{
    width: 46px;
}
.addGoods .goodForm .form-group{
    margin-bottom: 20px;
}
.addGoods .goodForm label{
    width:auto;
}
.addGoods .goodForm .btnBar{
    margin-bottom:30px;
}